[submodule "ADModule"]
	path = ADModule
	url = https://github.com/samratashok/ADModule.git
	branch = master
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
	branch = master
[submodule "nishang"]
	path = nishang
	url = https://github.com/samratashok/nishang.git
	branch = master
[submodule "powercat"]
	path = powercat
	url = https://github.com/besimorhino/powercat.git
	branch = master
