[submodule "ADModule"]
	path = tools/ADModule
	url = https://github.com/samratashok/ADModule.git
	branch = master
[submodule "ASREPRoast"]
	path = tools/ASREPRoast
	url = https://github.com/HarmJ0y/ASREPRoast.git
	branch = master
[submodule "BloodHound"]
	path = tools/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound.git
	branch = master
[submodule "CertifyMe"]
	path = certifyme
	url = https://github.com/mjwhitta/certifyme.git
	branch = main
[submodule "ConPtyShell"]
	path = tools/ConPtyShell
	url = https://github.com/antonioCoco/ConPtyShell.git
	branch = master
[submodule "DAMP"]
	path = tools/DAMP
	url = https://github.com/HarmJ0y/DAMP.git
	branch = master
[submodule "nishang"]
	path = tools/nishang
	url = https://github.com/samratashok/nishang.git
	branch = master
[submodule "powercat"]
	path = tools/powercat
	url = https://github.com/besimorhino/powercat.git
	branch = master
[submodule "PowerSploit"]
	path = tools/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
	branch = master
[submodule "PowerSploitDev"]
	path = tools/PowerSploitDev
	url = https://github.com/PowerShellMafia/PowerSploit.git
	branch = dev
[submodule "PowerUpSQL"]
	path = tools/PowerUpSQL
	url = https://github.com/NetSPI/PowerUpSQL.git
	branch = master
[submodule "RACE"]
	path = tools/RACE
	url = https://github.com/samratashok/RACE.git
	branch = master
